@import './assets/styles/theme.css';
@import './assets/css/site.css';
@import './assets/css/login.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.leaflet-container {
    width: 100%;
    height: 100%;
}

.loading {
    @apply flex items-center justify-center h-full w-full text-gray-500;
}

.error {
    @apply flex items-center justify-center h-full w-full text-red-500;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
